
body {
    overflow-x: hidden;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    margin-top: 10px;
    align-items: center;
}

.flex-container div {
    padding: 1%;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: oblique;
}

@media only screen and (min-device-width: 1920px) and (min-device-height: 1080px) {

    img {
        width: 20rem;
    }

}

@media only screen and (max-device-width: 1280px) and (max-device-height: 1024px) {

    .flex-container div:nth-last-of-type(-n+2) img {
        width: 30rem;
    }

    img {
        width: 15rem;
    }

}